<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Iniciar sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img src="assets/icon/total.jpg" alt="">
  <ion-item>
      <ion-label position="floating">Correo electronico</ion-label>
      <ion-input type="text" name="email"></ion-input>

  </ion-item>
  <ion-item>
      <ion-label position="floating">contraseña</ion-label>
      <ion-input type="password" name="clave"></ion-input>

  </ion-item>
  <br>
  <ion-button (click)="onSubmitlogin()" expand="block">Iniciar sesion</ion-button>
</ion-content>
