<ion-header>
  <ion-toolbar color="primary">

   <ion-buttons slot="start">
     <ion-button (click)="toggleMenu()">
       <ion-icon slot="icon-only" name="menu"></ion-icon>
     </ion-button>
   </ion-buttons>

    <ion-title>
      Total Global
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <br>
  <ion-slides pager="true" size= "6">
    <ion-slide class="slide-1">
      <ion-card>
          <img src = "assets/icon/inicio.jpg"/>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-card>
    <ion-card-title>Transparente goodsif</ion-card-title>
    <img src = "assets/icon/good.jpg"/>
    <ion-item href="#">
      <ion-icon name="cart" slot="start"></ion-icon>
      <ion-label>Solicitar cotizacion</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
